.no-animation > .page-enter-active, .no-animation > .page-leave-active  {
  transition: none;
}

.page-enter-active, .page-leave-active  {
  transition: transform .3s;
}

.page-enter {
  transform: translateX(100%);
}

.page-leave-to {
  transform: translateX(100%);
}

* {
  overflow: hidden;
}